.feedback-score-4 {
  background-image: url('../../images/score-4.svg');

  &:hover {
    background-image: url('../../images/hover-score-4.svg');
  }
}

.feedback-score-3 {
  background-image: url('../../images/score-4.svg');

  &:hover {
    background-image: url('../../images/hover-score-3.svg');
  }
}

.feedback-score-2 {
  background-image: url('../../images/score-2.svg');

  &:hover {
    background-image: url('../../images/hover-score-2.svg');
  }
}

.feedback-score-1 {
  background-image: url('../../images/score-1.svg');

  &:hover {
    background-image: url('../../images/hover-score-1.svg');
  }
}